@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito', system-ui, sans-serif;
	}
}

:root {
	--green: #27ae60;
	--black: #192a56;
	--light-color: #666;
	--box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

html {
	font-size: 100%;
}

body {
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
	border: none;
	text-transform: capitalize;
}
