@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito';
	}
}

:root {
	--green: #27ae60;
	--black: #192a56;
	--light-color: #666;
	--box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
	font-family: 'Nunito' !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 10px;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--green) !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--green);
}

.hero-title,
.dishes-heading,
.about-desc-heading,
.about__desc--text {
	color: var(--black);
}

.btn {
	background-color: var(--black);
	color: #fff;
}

.card {
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #192a562d;
	z-index: 0;
	transform-origin: top left;
	transform: translateX(-300px);
	transition: transform 0.3s;
}

.card:hover::before {
	transform: translateX(0);
}

@media screen and (max-width: 765px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none !important;
	}
}
